# EditorConfig is awesome: https://EditorConfig.org

# トップレベルの設定ファイル
root = true

# すべてのファイル
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript/JavaScript
[*.{ts,js}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2
